<div id="nav-menu">
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to('Users', profiles_path) %></li>
      <li><%= link_to('Temperatures', temperatures_path) %></li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    <% end %>
  </ul>
</div>
