<div class="span4">
  <h2>Descri&ccedil;&atilde;o</h2>
  <dl>

    <dt>Descri&ccedil;&atildeo</dt>
    <dd>Nome ou descri&ccedil;&atilde;o do sensor/dispositivo utilizado para descrev&ecirc;-lo</dd>

    <dt>Endere&ccedil;o IP</dt>
    <dd>Endere&ccedil;o IP do dispositivo.</dd>

  </dl>
</div>
