<div class="page-header">
  <h1>Dashboard <small> Bem vindo</small></h1>
</div>

<div class="row">
  <div class="span14">
    <h2>Sensores</h2>
  </div>

  <ul class="media-grid">
    <li><a href="#"><%= image_tag "arduino_red.jpg", :class => "thumbnail" %></a></li>
    <li><a href="#"><%= image_tag "arduino_yellow.jpg", :class => "thumbnail" %></a></li>
    <li><a href="#"><%= image_tag "arduino_green.jpg", :class => "thumbnail" %></a></li>
  </ul>

</div>
