<div class="page-header">
  <h1>Dashboard <small> Bem vindo</small></h1>
</div>

<div class="row">
  <div class="span14">
    <h2>Sensores</h2>
  </div>

  <div class="span4">
    <a href="#"><%= image_tag "arduino_red.jpg", :class => "thumbnail" %></a>
    <p>Exemplo de dispostivo j&aacute; em alerta.</p>
  </div>

  <div class="span4">
    <a href="#"><%= image_tag "arduino_yellow.jpg", :class => "thumbnail" %></a>
    <p>Exemplo de dispostivo j&aacute; em zona cr&iacute;tica.</p>
  </div>

  <div class="span4">
    <a href="#"><%= image_tag "arduino_green.jpg", :class => "thumbnail" %></a>
    <p>Exemplo de dispostivo normal.</p>
  </div>

</div>


