<div class="span4">
  <h2>Descri&ccedil;&atilde;o</h2>
  <dl>

    <dt>Intervalo</dt>
    <dd>Intervalo de tempo, em minutos, em que as notifica&ccedil;es ser&atilde;o enviadas.</dd>

    <dt>Para</dt>
    <dd>N&uacute;mero telef&ocirc;nico ou e-mail do destinat&aacute;rio.</dd>

    <dt>Tipo</dt>
    <dd>Enviar por e-mail ou SMS.</dd>

  </dl>
</div>
